In [1]:
import pandas as pd

In [23]:
%%time

data_address = '../Data/'
file_gal = open(data_address + 'galaxies.txt', 'r')
header = file_gal.readline()
print(header)
df_gal = pd.read_csv(file_gal,  sep='\s+', names=header.replace('#', ' ').split(), 
                     usecols = ['x[kpc/h]', 'y[kpc/h]', 'z[kpc/h]', 'm[Msol/h]', 
                                'host', 'dist[kpc/h]', 'vx[km/s]', 'vy[km/s]', 
                                'vz[km/s]'])
df_gal.describe()

# UID x[kpc/h] y[kpc/h] z[kpc/h] x_pix y_pix i_sector m[Msol/h] sfr[Msol/year] host dist[kpc/h] log10(m_cD/m) m_gas[Msol/h] vx[km/s] vy[km/s] vz[km/s] dv[km/s] vr[km/s] vt[km/s]

CPU times: user 27.6 s, sys: 1.48 s, total: 29.1 s
Wall time: 29.1 s

,x[kpc/h],y[kpc/h],z[kpc/h],m[Msol/h],host,dist[kpc/h],vx[km/s],vy[km/s],vz[km/s]
count,9.184007e+06,9.184007e+06,9.184007e+06,9.184007e+06,9.184007e+06,9.184007e+06,9.184007e+06,9.184007e+06,9.184007e+06
mean,3.227965e+05,3.212658e+05,3.203963e+05,1.835536e+10,5.307991e+04,4.183124e+01,-2.168058e-01,1.159896e-01,8.554355e-02
std,1.850009e+05,1.836559e+05,1.837623e+05,5.968222e+10,1.330699e+04,1.601057e+02,3.521816e+02,3.457874e+02,3.293684e+02
min,2.472523e-02,4.897413e-03,8.584157e-02,1.408010e+08,0.000000e+00,0.000000e+00,-4.338618e+03,-3.448558e+03,-3.531906e+03
25%,1.611469e+05,1.632932e+05,1.615272e+05,2.066080e+09,5.723700e+04,0.000000e+00,-2.234692e+02,-2.181064e+02,-2.052922e+02
50%,3.268581e+05,3.249696e+05,3.203467e+05,6.057140e+09,5.723700e+04,0.000000e+00,-5.354158e+00,2.217281e+00,-6.671054e-01
75%,4.820850e+05,4.770828e+05,4.787981e+05,2.006780e+10,5.723700e+04,0.000000e+00,2.187658e+02,2.185912e+02,2.044876e+02
max,6.399999e+05,6.399998e+05,6.399999e+05,1.077460e+13,5.723700e+04,2.689410e+03,3.405616e+03,3.897406e+03,3.396540e+03

In [25]:
df_gal.head()

,x[kpc/h],y[kpc/h],z[kpc/h],m[Msol/h],host,dist[kpc/h],vx[km/s],vy[km/s],vz[km/s]
0,416658.59,455771.69,72710.742,9.539830e+12,0,0.0000,-484.18576,114.829350,-384.019560
1,416584.72,455721.06,72726.086,1.422080e+11,0,90.8604,-1340.37290,1075.987900,-576.459840
2,416733.09,455847.72,72669.945,1.115520e+11,0,113.9970,-3466.59470,-76.017952,1774.847900
3,416705.94,455872.25,72740.234,1.566110e+11,0,114.9960,-743.76880,-493.329470,-670.385990
4,416762.06,455634.03,72681.969,1.238340e+11,0,174.5970,-837.13617,-977.828250,69.036697

In [32]:
%%time

df_gal_subset = df_gal[df_gal['m[Msol/h]'] > (1.8 * 10**11) ]

df_gal_subset.describe()

CPU times: user 110 ms, sys: 16.1 ms, total: 126 ms
Wall time: 89.8 ms

,x[kpc/h],y[kpc/h],z[kpc/h],m[Msol/h],host,dist[kpc/h],vx[km/s],vy[km/s],vz[km/s]
count,93097.000000,93097.000000,93097.000000,9.309700e+04,93097.000000,93097.000000,93097.000000,93097.000000,93097.000000
mean,325576.133087,322500.028738,320613.762863,3.993206e+11,36294.172057,49.532974,0.763965,0.349477,-0.509183
std,184863.273960,182799.587421,183249.915097,3.995129e+11,21403.382524,179.779705,351.345586,343.572230,328.125457
min,1.864417,10.164207,0.260974,1.800010e+11,0.000000,0.000000,-2896.388700,-2323.086700,-2275.444800
25%,163866.950000,166201.380000,162514.560000,2.161480e+11,15329.000000,0.000000,-219.363920,-215.157970,-201.740720
50%,332449.620000,329260.160000,319925.780000,2.784900e+11,41555.000000,0.000000,-2.822351,2.646382,-3.028148
75%,483949.000000,475466.120000,478698.410000,4.192930e+11,57237.000000,0.000000,216.770710,214.257250,200.506210
max,639996.190000,639980.940000,639993.120000,1.077460e+13,57237.000000,2471.570000,2423.330800,3048.129900,2638.449000

In [33]:
df_gal_subset.to_csv('../Data/massive_galaxies_10_11.25.csv', index = False)