In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

**Defining constants**

In [2]:
omega_m = 0.272            #Density parameter
omega_l = 1 - omega_m
H_o = 70.4                 #Hubble constant in km s^−1 Mpc^−1
f = omega_m**0.545

**Defining Functions**

In [3]:
def H(z):                           #hubble parameter (in km s^-1 Mpc^-1) using Eq. 4.33 in Peter's book
    return np.sqrt( H_o**2 * ( (1+z)**3 * omega_m + omega_l ) )

In [4]:
%%time
z = 0.42
data_address = '../input/magneticum-snap-027-z042/'
file_gal = open(data_address + 'galaxies.txt', 'r')
header = file_gal.readline()
print(header)
df_gal = pd.read_csv(file_gal,  sep='\s+', names=header.replace('#', ' ').split(), usecols = ['x[kpc/h]', 'y[kpc/h]', 'z[kpc/h]', 'm[Msol/h]' ])
print(df_gal.head())
df_gal.shape

# UID x[kpc/h] y[kpc/h] z[kpc/h] x_pix y_pix i_sector m[Msol/h] sfr[Msol/year] host dist[kpc/h] log10(m_cD/m) m_gas[Msol/h] vx[km/s] vy[km/s] vz[km/s] dv[km/s] vr[km/s] vt[km/s]

    x[kpc/h]   y[kpc/h]   z[kpc/h]     m[Msol/h]
0  416658.59  455771.69  72710.742  9.539830e+12
1  416584.72  455721.06  72726.086  1.422080e+11
2  416733.09  455847.72  72669.945  1.115520e+11
3  416705.94  455872.25  72740.234  1.566110e+11
4  416762.06  455634.03  72681.969  1.238340e+11
CPU times: user 24.3 s, sys: 1.53 s, total: 25.8 s
Wall time: 36.5 s

(9184007, 4)

In [5]:
%%time
df_gal = df_gal[df_gal['m[Msol/h]'] > 1.8 * 10**11 ]
print(df_gal.shape)
df_gal

(93097, 4)
CPU times: user 28.9 ms, sys: 33 µs, total: 28.9 ms
Wall time: 27.6 ms

           x[kpc/h]    y[kpc/h]    z[kpc/h]     m[Msol/h]
0        416658.590  455771.690   72710.742  9.539830e+12
6        416819.560  455645.440   72682.742  6.425460e+11
8        416375.280  455986.090   72565.555  5.747420e+11
9        417055.160  455752.810   72579.039  7.524050e+11
10       416468.000  455417.970   73096.898  8.804670e+11
...             ...         ...         ...           ...
1895390  228421.730  163529.980  564528.940  1.811440e+11
1914880   43807.992  285689.780   13807.334  1.874630e+11
1952373  134505.170  170108.610  316988.440  1.879320e+11
2015839  232731.080  313903.910  437584.060  1.876640e+11
2372604  328285.030   53190.777  638404.310  1.821320e+11

[93097 rows x 4 columns]

In [6]:
%%time
file_clusters = open(data_address + 'cluster_z_0_42_snap_027.txt', 'r')
header = file_clusters.readline()

df_clusters = pd.read_csv(file_clusters, sep='\s+', names=header.replace('#', ' ').split())

print(df_clusters.head())
df_clusters.shape

   UID   x[kpc/h]   y[kpc/h]    z[kpc/h]  x_pix  y_pix  i_sector  \
0    0  416658.59  455771.69   72710.742  10666   4716        18
1    1  457001.00  220719.88  279137.470  11699  10733        32
2    2  546352.06  317522.00  322111.530  13986   8255        26
3    3  178209.08  431001.19  432031.660   4562   5350        15
4    4  232882.92  440987.19  452662.310   5961   5094        16

   m500c[Msol/h]  r500c[kpc/h]  gas_frac  star_frac   T[kev]  Lx[1e44erg/s]  \
0   7.438200e+14       1346.37  0.128781   0.026921  8.21176        25.9788
1   4.723990e+14       1157.33  0.125627   0.030589  6.49616        15.9667
2   5.932360e+14       1248.60  0.133647   0.029565  6.64855        32.3791
3   7.220310e+14       1333.15  0.126156   0.026663  8.29691        24.3332
4   6.558890e+14       1291.09  0.125098   0.027383  7.06222        24.6993

        Y500c  M_sat/M_cD  cshift[kpc]  vx[km/s]  vy[km/s]  vz[km/s]
0  125.124350    0.146322          0.0  -484.186  114.8290 -384.0200
1   82.994687    0.173823          0.0  -164.106  315.2340 -225.1460
2   97.495154    0.123564          0.0   146.947  317.5720 -158.6690
3  122.615600    0.372392          0.0  -112.361 -193.4300  220.0250
4  100.237730    0.251730          0.0   117.801   64.2292   92.0462
CPU times: user 189 ms, sys: 0 ns, total: 189 ms
Wall time: 238 ms

(48074, 19)

In [7]:
df_clusters = df_clusters[df_clusters['m500c[Msol/h]'] > 10**13.5 ]
df_clusters

,UID,x[kpc/h],y[kpc/h],z[kpc/h],x_pix,y_pix,i_sector,m500c[Msol/h],r500c[kpc/h],gas_frac,star_frac,T[kev],Lx[1e44erg/s],Y500c,M_sat/M_cD,cshift[kpc],vx[km/s],vy[km/s],vz[km/s]
0,0,416658.590,455771.69,72710.742,10666,4716,18,7.438200e+14,1346.370,0.128781,0.026921,8.211760,25.978800,125.124350,0.146322,0.0,-484.1860,114.8290,-384.0200
1,1,457001.000,220719.88,279137.470,11699,10733,32,4.723990e+14,1157.330,0.125627,0.030589,6.496160,15.966700,82.994687,0.173823,0.0,-164.1060,315.2340,-225.1460
2,2,546352.060,317522.00,322111.530,13986,8255,26,5.932360e+14,1248.600,0.133647,0.029565,6.648550,32.379100,97.495154,0.123564,0.0,146.9470,317.5720,-158.6690
3,3,178209.080,431001.19,432031.660,4562,5350,15,7.220310e+14,1333.150,0.126156,0.026663,8.296910,24.333200,122.615600,0.372392,0.0,-112.3610,-193.4300,220.0250
4,4,232882.920,440987.19,452662.310,5961,5094,16,6.558890e+14,1291.090,0.125098,0.027383,7.062220,24.699300,100.237730,0.251730,0.0,117.8010,64.2292,92.0462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11031,11046,398614.410,456990.94,59055.270,10204,4685,18,3.268890e+13,475.130,0.072081,0.031529,1.167540,0.102836,3.513832,0.434851,0.0,251.9230,639.7280,81.2786
11184,11201,91093.438,273545.50,560522.940,2331,9381,28,3.254110e+13,474.418,0.062515,0.037787,1.331370,0.085035,3.469833,0.304764,0.0,-599.5290,210.0740,-221.3820
11358,11375,410293.000,473990.06,380023.780,10503,4249,11,3.173150e+13,470.441,0.085260,0.027314,0.969889,0.135113,3.418628,0.766510,0.0,453.3230,473.3080,-228.1020
11367,11384,35722.242,600531.12,147710.950,914,1010,0,3.230370e+13,473.264,0.076433,0.030237,1.076230,0.229443,3.420824,0.392921,0.0,-34.4207,-447.3690,79.8294
11453,11472,210572.770,334035.06,208936.440,5390,7832,23,3.354600e+13,479.257,0.085342,0.025047,1.199040,0.203763,4.309316,0.555925,0.0,-124.0160,232.5550,361.8140

In [8]:
# %%time
a = 1/(1+z)
H(z)
print(a)

0.7042253521126761

In [9]:
len(df_gal)

93097

In [10]:
%%time
for clus_x, clus_y, clus_z in zip(df_clusters['x[kpc/h]'], df_clusters['y[kpc/h]'], df_clusters['z[kpc/h]']):
#     print(clus_x, type(clus_x))
    df_gal_selected = df_gal[(df_gal['x[kpc/h]'] >= (clus_x - 120000)) & (df_gal['x[kpc/h]'] <= (clus_x + 120000))
                            & (df_gal['y[kpc/h]'] >= (clus_y - 120000)) & (df_gal['y[kpc/h]'] <= (clus_y + 120000)) 
                             & (df_gal['z[kpc/h]'] >= (clus_z - 120000)) & (df_gal['z[kpc/h]'] <= (clus_z + 120000))]
    
#     i = j = k = 0
    
    gals_in_cell = np.empty((48, 48, 48))
    gals_in_cell[:] = np.NaN
#     print(gals_in_cell)
    
    for i, cell_x_low in enumerate(np.arange(clus_x - 120000, clus_x + 115001, 5000)):
        for j, cell_y_low in enumerate(np.arange(clus_y - 120000, clus_y + 115001, 5000)):
            for k, cell_z_low in enumerate(np.arange(clus_z - 120000, clus_z + 115001, 5000)):
#                 print(i, j, k)

                x_condition = (df_gal_selected['x[kpc/h]'] >= (cell_x_low)) & (df_gal_selected['x[kpc/h]'] < (cell_x_low + 5000))
                y_condition = (df_gal_selected['y[kpc/h]'] >= (cell_y_low)) & (df_gal_selected['y[kpc/h]'] < (cell_y_low + 5000)) 
                z_condition = (df_gal_selected['z[kpc/h]'] >= (cell_z_low)) & (df_gal_selected['z[kpc/h]'] < (cell_z_low + 5000))
    
                count = len(df_gal_selected[ x_condition & y_condition & z_condition ])
                
                gals_in_cell[i][j][k] = count
                
#         print(i)
#             break
        
    break
    
import os
duration = 1  # seconds
freq = 440  # Hz
os.system('play -nq -t alsa synth {} sine {}'.format(duration, freq)) 

df_gal_selected

CPU times: user 2min 57s, sys: 718 ms, total: 2min 58s
Wall time: 2min 58s

          x[kpc/h]   y[kpc/h]    z[kpc/h]     m[Msol/h]
0        416658.59  455771.69   72710.742  9.539830e+12
6        416819.56  455645.44   72682.742  6.425460e+11
8        416375.28  455986.09   72565.555  5.747420e+11
9        417055.16  455752.81   72579.039  7.524050e+11
10       416468.00  455417.97   73096.898  8.804670e+11
...            ...        ...         ...           ...
1771257  472120.56  353170.09  140795.610  1.805510e+11
1774096  509923.62  400768.66   15343.682  1.838470e+11
1785505  493037.16  569709.44  174671.220  1.867950e+11
1788112  476074.31  346173.25   68664.602  1.810640e+11
1817324  355990.38  336145.28   42697.438  1.906710e+11

[4401 rows x 4 columns]

In [11]:
%%time
for clus_x, clus_y, clus_z in zip(df_clusters['x[kpc/h]'], df_clusters['y[kpc/h]'], df_clusters['z[kpc/h]']):
#     print(clus_x, type(clus_x))
    df_gal_selected = df_gal[(df_gal['x[kpc/h]'] >= (clus_x - 120000)) & (df_gal['x[kpc/h]'] <= (clus_x + 120000))
                            & (df_gal['y[kpc/h]'] >= (clus_y - 120000)) & (df_gal['y[kpc/h]'] <= (clus_y + 120000)) 
                             & (df_gal['z[kpc/h]'] >= (clus_z - 120000)) & (df_gal['z[kpc/h]'] <= (clus_z + 120000))]
    
#     i = j = k = 0
    
    gals_in_cell = np.empty((48, 48, 48))
    gals_in_cell[:] = np.NaN
    



    cell_x_low = np.arange(clus_x - 120000, clus_x + 115001, 5000)
    cell_y_low = np.arange(clus_y - 120000, clus_y + 115001, 5000)
    cell_z_low = np.arange(clus_z - 120000, clus_z + 115001, 5000)
    k = 0
    i = 0
    j = 0
    while(k<=47):
#         print(i, j, k)
        if (i == 47):
            i = 0
            j = j + 1
            if (j == 47):
                j = 0
                k = k + 1
                
        else:
            x_condition = (df_gal_selected['x[kpc/h]'] >= (cell_x_low[i])) & (df_gal_selected['x[kpc/h]'] < (cell_x_low[i] + 5000))
            y_condition = (df_gal_selected['y[kpc/h]'] >= (cell_y_low[j])) & (df_gal_selected['y[kpc/h]'] < (cell_y_low[j] + 5000)) 
            z_condition = (df_gal_selected['z[kpc/h]'] >= (cell_z_low[k])) & (df_gal_selected['z[kpc/h]'] < (cell_z_low[k] + 5000))

            count = len(df_gal_selected[ x_condition & y_condition & z_condition ])
            gals_in_cell[i][j][k] = count
        i = i + 1
    break
        

        
    break
    
import os
duration = 1  # seconds
freq = 440  # Hz
os.system('play -nq -t alsa synth {} sine {}'.format(duration, freq)) 

df_gal_selected

CPU times: user 3min 1s, sys: 1 s, total: 3min 2s
Wall time: 3min 2s

          x[kpc/h]   y[kpc/h]    z[kpc/h]     m[Msol/h]
0        416658.59  455771.69   72710.742  9.539830e+12
6        416819.56  455645.44   72682.742  6.425460e+11
8        416375.28  455986.09   72565.555  5.747420e+11
9        417055.16  455752.81   72579.039  7.524050e+11
10       416468.00  455417.97   73096.898  8.804670e+11
...            ...        ...         ...           ...
1771257  472120.56  353170.09  140795.610  1.805510e+11
1774096  509923.62  400768.66   15343.682  1.838470e+11
1785505  493037.16  569709.44  174671.220  1.867950e+11
1788112  476074.31  346173.25   68664.602  1.810640e+11
1817324  355990.38  336145.28   42697.438  1.906710e+11

[4401 rows x 4 columns]

In [12]:
print(i, j, k, np.arange(clus_x - 120000, clus_x + 115001, 5000).shape, clus_x, np.arange(clus_x - 120000, clus_x + 115001, 5000))
print(np.arange(clus_y - 120000, clus_y + 115001, 5000))
print(np.arange(clus_z - 120000, clus_z + 115001, 5000))
len(df_gal_selected)

1 0 48 (48,) 416658.59 [296658.59 301658.59 306658.59 311658.59 316658.59 321658.59 326658.59
 331658.59 336658.59 341658.59 346658.59 351658.59 356658.59 361658.59
 366658.59 371658.59 376658.59 381658.59 386658.59 391658.59 396658.59
 401658.59 406658.59 411658.59 416658.59 421658.59 426658.59 431658.59
 436658.59 441658.59 446658.59 451658.59 456658.59 461658.59 466658.59
 471658.59 476658.59 481658.59 486658.59 491658.59 496658.59 501658.59
 506658.59 511658.59 516658.59 521658.59 526658.59 531658.59]
[335771.69 340771.69 345771.69 350771.69 355771.69 360771.69 365771.69
 370771.69 375771.69 380771.69 385771.69 390771.69 395771.69 400771.69
 405771.69 410771.69 415771.69 420771.69 425771.69 430771.69 435771.69
 440771.69 445771.69 450771.69 455771.69 460771.69 465771.69 470771.69
 475771.69 480771.69 485771.69 490771.69 495771.69 500771.69 505771.69
 510771.69 515771.69 520771.69 525771.69 530771.69 535771.69 540771.69
 545771.69 550771.69 555771.69 560771.69 565771.69 570771.69]
[-47289.258 -42289.258 -37289.258 -32289.258 -27289.258 -22289.258
 -17289.258 -12289.258  -7289.258  -2289.258   2710.742   7710.742
  12710.742  17710.742  22710.742  27710.742  32710.742  37710.742
  42710.742  47710.742  52710.742  57710.742  62710.742  67710.742
  72710.742  77710.742  82710.742  87710.742  92710.742  97710.742
 102710.742 107710.742 112710.742 117710.742 122710.742 127710.742
 132710.742 137710.742 142710.742 147710.742 152710.742 157710.742
 162710.742 167710.742 172710.742 177710.742 182710.742 187710.742]

4401

In [13]:
df_gal.describe()

            x[kpc/h]       y[kpc/h]       z[kpc/h]     m[Msol/h]
count   93097.000000   93097.000000   93097.000000  9.309700e+04
mean   325576.133087  322500.028738  320613.762863  3.993206e+11
std    184863.273960  182799.587421  183249.915097  3.995129e+11
min         1.864417      10.164207       0.260974  1.800010e+11
25%    163866.950000  166201.380000  162514.560000  2.161480e+11
50%    332449.620000  329260.160000  319925.780000  2.784900e+11
75%    483949.000000  475466.120000  478698.410000  4.192930e+11
max    639996.190000  639980.940000  639993.120000  1.077460e+13

In [14]:
print(np.nansum(gals_in_cell))
print(np.nanmax(gals_in_cell))

4156.0
8.0

In [15]:
gals_in_cell

array([[[ 0., nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        ...,
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [nan, nan, nan, ..., nan, nan, nan]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [nan, nan, nan, ..., nan, nan, nan]],

       ...,

       [[ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [nan, nan, nan, ..., nan, nan, nan]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  1.,  0.,  0.],
        [nan, nan, nan, ..., nan, nan, nan]],

       [[nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        ...,
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]]])